@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.font-raleway{
    font-family: "Raleway", sans-serif;
}
.font-inter{
    font-family: "Inter", sans-serif;
}
html{
    scroll-behavior: smooth;
}
.select-container>tr{
    display: flex;
    justify-content: space-between;
}
/* Modal styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#modal{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    animation-name: animatemodal;
    animation-duration: .5s;
}
#close-btn:hover{
    cursor: pointer;
    color: white;
}
#modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0 , 0, 0, .2);
}

/* Modal Animation Section */
@keyframes animatemodal {
    from {
        top: -300px;
        opacity: 0;
    }
    to{
        top:50%;
        opacity: 1;
    }
}